PORT=5000
FRONTEND_URL=https://raktdaan.online

MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/?retryWrites=true&w=majority
DB_NAME=Raktdaan

ADMIN_EMAIL=admin@raktdaan.online
ADMIN_PASSWORD=YourStrongPassword
JWT_SECRET=your_jwt_secret_here

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

GOOGLE_MAPS_API_KEY=your_backend_google_maps_key_if_needed
GOOGLE_PLACES_API_KEY=your_google_places_key_if_needed
GOOGLE_GEOCODING_API_KEY=your_google_geocoding_key
GOOGLE_DISTANCE_API_KEY=your_google_distance_matrix_key_if_needed

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your@gmail.com
SMTP_PASS=your_app_password
